<%= provide(:title, 'About Us') %>
<h1>Membership</h1>
<p>
Currently, the application is invite only. But since I'm happy today, here is an <a href="https://kitss.herokuapp.com/signup?token=cQhpKEx7NXqOyK8EdNku4Q">invite</a>.
