<footer class="footer">
  <small>
    Keep In Touch simple and stupid
    by <a href="http://palcu.blogspot.com">Alex Palcuie</a>
    forked from
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl
  </small>
  <nav>
    <ul>
      <li><a href="http://www.uaic.ro">UAIC</a></li>
    </ul>
  </nav>
</footer>
